[submodule "hsr_description"]
	path = hsr_description
	url = https://github.com/mitsav01/hsr_description.git
[submodule "hsr_navigation"]
	path = hsr_navigation
	url = https://github.com/mitsav01/hsr_navigation.git
