[submodule "hsr_description"]
	path = hsr_description
	url = https://github.com/code-iai/hsr_description.git
	branch = ros2-jazzy
[submodule "hsr_navigation"]
	path = hsr_navigation
	url = https://github.com/sunava/hsr_navigation.git