<launch>
    <arg name="velocity_controller" default="False" />
    <arg name="apartment_map" default="True" />

    <include file="$(find hsr_description)/launch/upload_hsrb.launch" />

    <group ns="hsrb">
        <group ns="robot_state">
            <node name="robot_state_pub" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true"/>
        </group>
    </group>

    <group if="$(eval arg('apartment_map') == True)">
        <include file="$(find hsr_navigation)/launch/hsr_map.launch" />
    </group>

    <group if="$(eval arg('velocity_controller') == True)">
        <include file="$(find hsr_velocity_controller)/launch/switch_to_velocity_controllers.launch"/>
    </group>
</launch>